<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>page about me </p>
  <p class="user-firstname"><%- firstName %></p>
  <p class="user-lastname"><%- lastName %></p>
  <p class="user-email"><%- email %></p>
  <p class="user-nickname"><%- nickname %></p>
  <p class="user-registime"><%- regisTime %></p>

  <form action="http://localhost:3030/user/logout" method="post">
    <button type="submit" class="logout-button">
      log out
    </button>
  </form>
</body>
</html>